.under-content{
	float: left;
	position: fixed;
	margin-top: 200px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 25px;
	ul.list-group{
		width: 100px;
		height: 90px;
		li.list-group-item{
			font-size: 15px;
			width: 320px;
			height: 80px;
			list-style: none;
			display: flex;
			align-items: center;
			left: 10;
			font-weight: bold;
		}
		img{
			height: 70px;
			width: 70px;
			border-radius: 50%;
		}
		.text{
			margin-left: 7px;
		}
		.follows{
			background-color: #55c500;
			border-radius: 10px;
			width: 70px;
			margin-left: 40px;
			font-size: 5px;
			color: white;
			font-weight: bold;
			border:none;
		}
	}
}