@media screen and (max-width: 375px) { 
	.start p {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 9999;
		width: 280px;
		i{
			font-size: 50px;
			color:  #55c500;
			position: absolute;
			width: 70px;
			height: 100px;
			top:  0;
			bottom:  0;
			left:  0;
			right:  0;
			margin:  auto;
			animation: key1 infinite alternate;
			animation-duration: 1s;
			transition-delay: 190ms;
			@keyframes key1{
				0% {transform: translateY(0px);}
				100% {transform: translateY(5px);}
			}
		}
	}
	.header{
		width: 375px;
		.header__icon{
			display: none;
		}
	.header__left{
		ul{
			padding-left: 0px;
		li{
			font-size: 12px;
			padding-left: 10px;
			i{
				left: 0;
				}
			}
		}
	}
	.header__right{
		position: relative;
		width: 0px;
		#tweet_btn{
			position: absolute;
			width: 70px;
			font-weight: bold;
		.button__icon{
			font-size: 20px;
			color:  #55c500;
		}
			
		}
	.chat-group-form__field--right{
		display: none;
			}
		}
	}
	.main-content {
	// background-color:  #e6ecf0;
	width: 375px;

	.content-prof{
		display: none;
		}
	.main-content__right{
		display: none;
	 }
	 .main-content__under-content{
		 display: none;
	 }
	}
	.card{
		width: 375px;
		margin-top: 0;
		.card-body{
			padding-bottom: 0;
			position: relative;
			.blockquote{
				padding-left: 10px;
				width: 240px;
				display: flex;
				.imgbox{
					width: 100px;
					height: 90px;
					right: 8px;
					position: absolute;
				img{
					width: 100%;
					height: 100%;
				}
			}
				p{
					font-size: 15px;
				}
			}
		}
	}
	#pageTop a{
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	#myModal.modal.fade{
		.modal-dialog{
			.modal-content{
		.modal-body {
					}
				 }
			}
		}
		.follows{
			height: 20px;
			font-size: 15px;
			font-weight: bold;
		}
		.follow-now{
			height: 20px;
			font-size: 15px;
			font-weight: bold;
		}
		.field-box{
			width: 400px;
			height: 100%;
			margin-left: 13px;
			h2{
				padding-top: 70px;
				padding-bottom: 10px;
				font-weight: bold;
				color: #55c500;
			}	
		}
}


