
@media screen and (max-width: 479px) { 
	.header{
		width: 400px;
		.header__icon{
			display: none;
		}
	.header__left{
		ul{
			padding-left: 0px;
		li{
			font-size: 12px;
			}
		}
	}
	.header__right{
		position: relative;
		#tweet_btn{
			position: absolute;
			width: 65px;
		}
	.chat-group-form__field--right{
		display: none;
		}
	}
	}
	.main-content {
	background-color:  #e6ecf0;
	width: 400px;

	.content-prof{
		display: none;
	}
	.main-content__right{
		display: none;
	 }
	 .main-content__under-content{
		 display: none;
	 }
	}
	.card{
		width: 400px;
		margin-top: 0;
		.user-menu{
		img {
			max-width: 100%;
			}
		}
	}
}
#myModal.modal.fade{
	.modal-body {
		textarea{
			width: 395px;
		}
	}
}